.container {
    width: 850px;
    margin: 0 auto;
}

header {
    padding: 16px 467px 13px 53px ;
    background-color: #eaae45;
}

main {
    width: 696px;
    padding: 0 77px;
}

.introduction h1 {
    font-family: monospace;
    text-transform: uppercase;
    line-height: 95px;
    font-size: 75px;
    color: rgb(234,175,70);
    text-align: center;
    margin: 0;
}

.introduction p {
    font-size: 20px;
    color: rgb(0,0,0);
    font-family: "Arial";
    font-weight: bold;
    text-align: center;
    line-height: 18px;
    margin: 0 0 26px 0;
}

h2 {
    font-size: 30px;
    line-height: 95px;
    color: rgb(0,0,0);
    font-family: monospace;
    text-transform: uppercase;
    margin: 0;
}

.news-container {
    display: flex;
    flex-direction: column;
}

.news {
    display: flex;
    align-items: flex-end;
    margin-bottom: 40px;
}

.news img {
    width: 47%;
}

.news div {
    padding: 0  20px;
}
h3 {
    font-size: 25px;
    line-height: 25px;
    color: rgb(0,0,0);
    font-family: monospace;
    text-transform: uppercase;
}

.news p {
    font-size: 20px;
    line-height: 25px;
    color: rgb(0,0,0);
    font-family: "Arial";
}

button {
    width: 186px;
    height: 43px;
    border-radius: 10px;
    background-color: #eaae45;
    font-size: 20px;
    line-height: 25px;
    color: rgb(0,0,0);
    font-family: monospace;
    text-transform: uppercase;
}

button:hover {
    color: white;
    cursor: pointer;
}

.news:nth-child(2n) {
    flex-direction: row-reverse;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 850px;
    height: 133px;
    background-color: #eaae45;
}

.social-network img{
    width: 30px;
    height: 30px;
}



